* {
    margin: 0%;
    padding: 0%;
}

/*==================== VARIABLES CSS ====================*/
:root {
    --bg-color: #1A1A1A;
    --blue-color: #30689F;
    --secondary-blue: #3597CF;
    --gray-color: #BCBCBC;
}

body {
    background-color: var(--bg-color);
}

/*  === HERO ===  */

.hero {
    display: flex;
    color: #FFFFFF;
    width: 100%;
    font-family: 'Cabin', sans-serif;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.hero-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title h1 {
    font-size: 1.8rem;
}

.hero-title p {
    font-size: 0.85rem;
}

.studies2{
    padding-left: 1rem;
}

.hero-studies {
    display: flex;
    justify-content: center;
}

.hero-buttons {
    display: flex;
    justify-content: space-evenly;
}

.btn-hero {
    color: #FFFFFF;
    border: solid 1px var(--secondary-blue);
    padding: 0rem 2rem 0rem 2rem;
}

.btn-hero:hover {
    background-color: var(--blue-color);
    border: none;
}

.logo {
    padding-left: 5rem;
    width: 50%;
}

@media only screen and (max-width: 768px) {

    .hero {
        flex-direction: column-reverse;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .logo {
        width: 80%;
        padding-bottom: 2rem;
    }

    .hero-title h1 {
        font-size: 1.95rem;
    }
}

/*  === SECTION ===  */

.cards {
    background-color: #FFFFFF;
    font-family: 'Cabin', sans-serif;
}

.section-title {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 0 1rem 0;
}

.card {
    border-radius: 10px;
}

.card-top {
    background-color: var(--blue-color);
    border-radius: 10px 10px 0 0;
    height: 6rem;
    display: flex;
    justify-content: center;
}

.card-title {
    color: #FFFFFF;
    padding-top: 2rem;
}

@media only screen and (max-width: 768px) {
    .card {
        margin-bottom: 2rem;
    }
}