* {
    margin: 0%;
    padding: 0%;
}

/*==================== VARIABLES CSS ====================*/
:root {
    --bg-color: #1A1A1A;
    --blue-color: #30689F;
    --secondary-blue: #3597CF;
    --gray-color: #BCBCBC;
}

body {
    background-color: var(--bg-color);
}

/*  === HERO ===  */

.hero {
    display: flex;
    color: #FFFFFF;
    width: 100%;
    font-family: 'Cabin', sans-serif;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.hero-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title h1 a {
    text-decoration: none;
    color: #FFFFFF;
}

.hero-title h1 {
    font-size: 1.8rem;
}

.hero-title p {
    font-size: 0.85rem;
}

.studies2{
    padding-left: 1rem;
}

.hero-studies {
    display: flex;
    justify-content: center;
}

.hero-buttons {
    display: flex;
    justify-content: space-evenly;
}

.btn-hero {
    color: #FFFFFF;
    border: solid 1px var(--secondary-blue);
    padding: 0rem 2rem 0rem 2rem;
}

.btn-hero:hover {
    background-color: var(--blue-color);
    border: none;
}

.logo {
    padding-left: 5rem;
    width: 50%;
}

@media only screen and (max-width: 768px) {

    .hero {
        flex-direction: column-reverse;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .logo {
        width: 80%;
        padding-bottom: 2rem;
    }

    .hero-title h1 {
        font-size: 1.95rem;
    }
}

/*  === SECTION ===  */

.cards {
    background-color: #FFFFFF;
    font-family: 'Cabin', sans-serif;
    padding-bottom: 2rem;
}

.section-title {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem 0 1rem 0;
}

.card {
    border-radius: 10px;
}

.card-top {
    background-color: var(--blue-color);
    border-radius: 10px 10px 0 0;
    height: 6rem;
    display: flex;
    justify-content: center;
}

.card-title {
    color: #FFFFFF;
    padding-top: 2rem;
}

.btn-primary {
    background-color: var(--blue-color);
    border: none;
}

.btn-primary:hover {
    background-color: var(--secondary-blue);
}

@media only screen and (max-width: 768px) {
    .card {
        margin-bottom: 2rem;
    }
}

/*  === FOOTER  === */

.footer {
    color: var(--gray-color);
    padding-top: 1rem;
    font-family: 'Cabin', sans-serif;
}

.footer a {
    text-decoration: none;
    color: var(--gray-color);
}

.footer a:hover {
    color: var(--secondary-blue);
}

.footer p {
    margin-bottom: 0%;
}

.dev {
    font-size: 0.7rem;
}

/*  === SKINNY BANNER === */

.skinny-banner {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
    font-family: 'Cabin', sans-serif;
}

.izq-skinny {
    display: flex;
}

.izq-skinny p {
    margin-bottom: 0%;
    margin-left: 1rem;
    font-weight: bold;
}

.logo-skinny {
    width: 5%;
}

.text-skinny {
    color: var(--gray-color);
}

.btn-skinny {
    color: #FFFFFF;
    border: solid 1px var(--secondary-blue);
    padding: 0rem 2rem 0rem 2rem;
}

.btn-skinny:hover {
    color: #FFFFFF;
    background-color: var(--blue-color);
    border: solid 1px var(--blue-color);
}

@media only screen and (max-width: 768px) {
    .btn-skinny {
        display: none;
    }
}

/*  ===  CV  === */

.cv {
    background-color: #FFFFFF;
    padding: 1rem 0 1rem 0;
}

.img-cv {
    border-radius: 80%;
    border: solid 1.5px var(--bg-color);
    width: 60%;
}

.cv-title {
    font-family: 'Cabin', sans-serif;
    margin: auto 0 auto 0;
}

.cv-content {
    padding-top: 2rem;
}

@media only screen and (max-width: 768px) {
    .img-cv {
        width: 30%;;
    }
}